<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.uk.jagw.andtorch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="co.uk.jagw.andtorch.Torch"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="co.uk.jagw.andtorch.Help"
            android:label="@string/help_title"/>
        
        <activity 
            android:name="co.uk.jagw.andtorch.About"
            android:label="@string/about_title"/>
                
        <activity 
            android:name="co.uk.jagw.andtorch.TorchPreferences"
            android:label="@string/settings_title"/>
        
        <activity
            android:name="co.uk.jagw.andtorch.FrontFlash"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        
       	<receiver android:name="TorchWidget" >
   			<intent-filter>
      				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
   			</intent-filter>
   			<meta-data android:name="android.appwidget.provider"
           			   android:resource="@xml/andtorch_appwidget_info" />
		</receiver>

       	
<!--         <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation"/> -->
<!-- 		<activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation"/> -->
<!-- 		<activity android:name="com.mopub.mobileads.MraidBrowser" android:configChanges="keyboardHidden|orientation"/> -->
<!-- 		<activity android:name="com.millennialmedia.android.MMActivity" -->
<!--        			  android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
<!--         <activity android:name="com.millennialmedia.android.VideoPlayer" -->
<!--        	  		  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
<!--        			  android:configChanges="keyboardHidden|orientation|keyboard" /> -->
       			  
    </application>

</manifest>